.devices {
  display: block;
  min-height: 500px;
}

.devices-header {
  fill: #fff;
}

.stop-add-device,
.add-device-button {
  cursor: pointer;
}

.stop-add-device text,
.add-device-button text {
  fill: #ffa114;
  transition: all 0.2s ease;
}

.stop-add-device rect,
.add-device-button rect {
  transition: all 0.2s ease;
}

.stop-add-device:hover rect,
.add-device-button:hover rect {
  fill: #ffa114;
}

.stop-add-device:hover text,
.add-device-button:hover text {
  fill: #fff;
}

.add-device-button .icon {
  transform-origin: 805px 38px 0;
}

.stop-add-device .icon {
  transform-origin: 805px 38px 0;
  transform: rotateZ(45deg);
}

.stop-add-device .text {
  opacity: 0;
}

.dashboard-nav {
  position: absolute;
  width: 100%;
  left: 0;
}

.active:focus,
.active:hover {
  background: none;
  cursor: default;
}

.active-marker {
  position: absolute;
  left: 560px;
}

.no-devices {
  font-size: 32px;
}

.notification {
  fill: #f00;
  font-family: GillSansSemibold;
}

.user-has-devices {
  display: none;
}

.add-device-indicator-arrow {
  opacity: 0;
}

.add-new-device body {
  background: none;
}

.add-new-device-form {
  display: none;
  opacity: 0;
}

.add-new-device label {
  float: left;
  font: 32px/100px GillSansLight;
  width: 340px;
  text-align: right;
  padding: 0 20px;
  position: relative;
}

.add-new-device label:after {
  content: '';
  position: absolute;
  right: -40px;
  top: 0;
  border: 20px solid transparent;
  border-left-color: #bfbfbf;
  border-top-width: 50px;
  border-bottom-width: 50px;
  z-index: 99999;
}

.add-new-device input {
  height: 100px;
  float: left;
  width: 420px;
  padding: 0 20px 0 40px;
  font-size: 32px;
  background: #373737;
  border: none;
  color: #fff;
  position: relative;
}

.add-new-device form {
  text-align: center;
}

.submit-serial-number {
  width: 200px;
  height: 100px;
  color: #fff;
  border: none;
  background: #1a1a1a;
  transition: background 0.2s ease;
  cursor: pointer;
  position: relative;
}

.submit-serial-number:hover {
  background: #ffa114;
}

.submit-serial-number:before {
  content: '';
  border: 20px solid transparent;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 99999;
  border-left-color: #373737;
  border-top-width: 50px;
  border-bottom-width: 50px;
}

.row-background {
  fill: #262626;
}

.device-row:nth-child(even) .row-background {
  fill: #1f1f1f;
}

.add-device-name body {
  width: 100%;
  background: none;
  position: relative;
}

.add-device-name input {
  height: 35px;
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 1px solid rgba(126, 126, 126, 0.25);
  color: #7e7e7e;
  text-align: center;
  transition: all 0.25s ease;
}

.add-device-name input:focus {
  border: 1px solid #fff;
  color: #fff;
}

.add-device-name button {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background: none;
  border: none;
  color: #7e7e7e;
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
  transition: all 0.25s ease;
}

.add-device-name button:hover {
  background: #ffa114;
  color: #fff;
}

.add-device-name button:hover + .device-name-input {
  border-color: #ffa114;
}

.serial-number {
  fill: #7e7e7e;
  font-family: SourceLight;
  text-anchor: middle;
}

.device-name-label {
  fill: #fff;
}

.device-status {
  text-anchor: middle;
}

.device-status.offline,
.device-status.unknown {
  fill: #7e7e7e;
}

.device-status.ready {
 fill: #0f6;
}

.device-status.working {
  fill: #fc0;
}

.device-status.error {
  fill: #f03;
}

.most-recent-contact {
  fill: #7e7e7e;
  text-anchor: middle;
}

.controls-button,
.jobs-button {
  cursor: pointer;
}

.controls-button .icon,
.jobs-button .icon {
  fill: #7e7e7e;
  transition: fill 0.25s ease;
}

.controls-button text,
.jobs-button text {
  fill: #fff;
  text-anchor: middle;
}

.controls-button .hitbox,
.jobs-button .hitbox {
  fill: transparent;
}

.controls-button:hover .icon,
.jobs-button:hover .icon {
  fill: #ffa114;
}
