main {
  background: #1a1a1a;
}

h1 {
  margin: 0;
  font: normal 36px/100px GillSansSemiBold;
  padding: 0 0 0 100px;
  color: #fff;
  background: #000;
}

h2 {
  display: inline-block;
  height: 0;
  padding: 0 0 0 100px;
  margin: 0;
  overflow: hidden;
  position: absolute;
}

h2.error-message {
  height: auto;
  color: #f00;
  position: static;
}

h2 a {
  color: #f00;
  text-decoration: none;
  border-bottom: 1px dotted #f00;
}

h2 a:hover {
  border-bottom-style: solid;
}

.register-form label {
  line-height: 100px;
  width: 100px;
  float: left;
  text-align: right;
  padding: 0 20px;
  color: #fff;
  position: relative;
}

.register-form label:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  border-left: 20px solid transparent;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

.register-form input {
  height: 100px;
  border: none;
  width: 860px;
  padding: 0 40px;
  color: #7e7e7e;
}

.register-form input:focus {
  color: #fff;
}

.confirm-label,
.email-label {
  background: #373737;
}

label.confirm-label:after,
label.email-label:after {
  border-left-color: #373737;
}

.password-label {
  background: #262626;
}

label.password-label:after {
  border-left-color: #262626;
}

.confirm-input,
.email-input {
  background: #262626;
}

.password-input {
  background: #373737;
}

input.error {
  background: #f00;
}

.submit-register {
  display: block;
  width: 250px;
  margin: 0 auto;
  height: 100px;
  font: 24px/1.5 GillSansLight;
  color: #fff;
  background: transparent;
  border: none;
  transition: background 0.2s ease;
  cursor: pointer;
}

.submit-register:focus,
.submit-register:hover {
  background: #ffa114;
}
