<template name="devices">
  {{setActive}}
  <svg class="devices" width=100% height=100%>
    <rect x=0 y=0 width=100% height=75 fill=#000 />
    <rect x=0 y=75 width=100% height=100 fill=#bfbfbf />
    <path d="M 0 0 L 146 100 L 292 0 Z" fill=#262626 />
    <text class="devices-header" x=76.5 y=44>Registered Devices</text>
    <text class="notification" x=250 y=65></text>
    <g class="add-device-button">
      <rect x=760 y=0 width=200 height=75 fill=transparent />
      <text x=800 y=44 class="icon">+</text><text x=815 y=44 class="text">Add a Device</text>
    </g>
    {{#if deviceCount}}
      {{> add_new_device_form}}
      <g class="column-headers">
        <text x=100 y=132 class="device-name-header">Device Name</text>
        <text x=313.5 y=132 class="serial-number-header">Serial Number</text>
        <text x=496 y=132 class="status-header">Status</text>
        <text x=606 y=132 class="most-recent-contact-header">Most Recent Contact</text>
        <text x=823.5 y=132 class="jobs-header">Jobs</text>
        <text x=882 y=132 class="controls-header">Controls</text>
      </g>
      {{#each devices}}
        <g class="device-row-{{this._index}}">
          <rect class="row-background" x=0 y={{this._vertical_position}} width=100% height=100 />
          <foreignObject class="add-device-name" x=15 y={{this._input_vertical_position}} width=235 height=35>
            <body>
              <form class="add-device-name-form" action="/add-device-name" method="post">
                <button class="submit-device-name">✎</button>
                <input class="device-name-input" placeholder="Give this device a name" value={{this.name}}>
              </form>
            </body>
          </foreignObject>
          <text class="serial-number" x=279.5 y={{this._text_vertical_position}}>{{this._id}}</text>
        </g>
      {{/each}}
    {{else}}
      {{> add_new_device_form}}
    {{/if}}
  </svg>
</template>
