<template name="reset_password">
{{#if resetPassword}}
  <h1>Enter your new password</h1>
  <h2></h2>
  <form class="password-form new-password" action="/new-password" method="post">
    <label class="password-label" for="user-password">Password</label>
    <input class="password-input" name="user-password" placeholder="Minimum 12 characters" type="password" required>
    <label class="confirm-label" for="user-confirm">Confirm</label>
    <input class="confirm-input" name="user-confirm" placeholder="Must match password" type="password" required>
    <button class="submit-reset">Okay!</button>
  </form>
{{else}}
  <h1>We'll email you a reset link</h1>
  <h2></h2>
  <form class="password-form email-reset-link" action="/email-reset-link" method="post">
    <label class="email-label" for="user-email">Email</label>
    <input class="email-input" name="user-email" placeholder="you@example.com" type="email" required>
    <button class="submit-email">Send Link</button>
  </form>
  {{/if}}
</template>
